@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "BeatriceRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.book-stylist .slick-slide {
  margin: 0 5px;
}

.toggle-bg:after {
  content: "";
  @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}
input:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}
input:checked + .toggle-bg {
  @apply bg-purple-100 border-purple-100;
}

@layer base {
  @font-face {
    font-family: "GTSuperTextBlack";
    font-weight: 900;
    src: local("GTSuperTextBlack"),
      url(./assets/fonts/GTSuperTextBlack.otf) format("opentype");
  }
  @font-face {
    font-family: "BeatriceSemiBold";
    font-weight: 600;
    src: local("BeatriceSemiBold"),
      url(./assets/fonts/BeatriceSemiBold.otf) format("opentype");
  }
  @font-face {
    font-family: "BeatriceSemiBoldItalic";
    font-weight: 600;
    src: local("BeatriceSemiBoldItalic"),
      url(./assets/fonts/BeatriceSemiBoldItalic.otf) format("opentype");
  }

  @font-face {
    font-family: "BeatriceMedium";
    font-weight: 500;
    src: local("BeatriceMedium"),
      url(./assets/fonts/BeatriceMedium.otf) format("opentype");
  }
  @font-face {
    font-family: "BeatriceMediumItalic";
    font-weight: 500;
    font-style: italic;
    src: local("BeatriceMediumItalic"),
      url(./assets/fonts/BeatriceMediumItalic.otf) format("opentype");
  }
  @font-face {
    font-family: "BeatriceRegular";
    font-weight: 400;
    src: local("BeatriceRegular"),
      url(./assets/fonts/BeatriceRegular.otf) format("opentype");
  }
  @font-face {
    font-family: "BeatriceRegularItalic";
    font-weight: 400;
    src: local("BeatriceRegularItalic"),
      url(./assets/fonts/BeatriceRegularItalic.otf) format("opentype");
  }

  /* 
Font Weight	Numerical Weight
"Thin", "Hairline"	100
"Extra Light", "Ultra Light"	200
"Light", "Book"	300
"Normal", "Regular", "Roman", "Standard", "Plain"	400/Normal
"Medium", "Demi"	500
"Semi Bold", "Semi Bld", "Demi Bold", "Demi Bld"	600
"Bold", "Bld"	700/Bold
"Extra Bold", "Ultra Bold", "Extra Bld", "Ultra Bld"	800
"Black", "Heavy", "Ultra", "Fat", "Poster", "Ultra Black" 	 900 
*/
}

/* .phoneinput > div{
  flex: 1;
}
.phoneinput input{
  width: 100% !important;
} */

.rdrDefinedRangesWrapper {
  display: none;
}

*{
  /* outline: 1px solid red; */
}

[data-state="open"] > img {
  transform: rotate(180deg);
  transition: transform .5s ease;
}
[data-state="closed"] > img {
  transition: all .5s ease;
}
